<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxh.community.mapper.UserMapper">
<!--    <resultMap id="PersonResultMap" type="com.lxh.springbootmybatis.entity.Person">-->
<!--        <id column="id" property="id"/>-->
<!--        <association property="dog" column="dog"-->
<!--                     select="com.lxh.springbootmybatis.dao.DogDao.selectById" javaType="Dog"/>-->
<!--    </resultMap>-->
<!--    -->
<!--    <sql id="sqlBase">-->
<!--           a.id,-->
<!--          a.name,-->
<!--          a.email,-->
<!--          a.birth,-->
<!--          a.age,-->
<!--          a.dog-->
<!--    </sql>-->
<!--    <select id="selectAll" resultMap="PersonResultMap">-->
<!--        SELECT-->
<!--        <include refid="sqlBase"></include>-->
<!--        FROM-->
<!--          person AS a-->
<!--    </select>-->
</mapper>