<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxh.community.mapper.QuestionDTOMapper">
    <resultMap id="QuestionResultMap" type="com.lxh.community.dto.QuestionDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="comment_count" property="commentCount"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="tag" property="tag"/>
        <association property="user" column="creator" javaType="com.lxh.community.model.User">
            <id column="u.id" property="id"/>
            <result column="account_id" property="accountId"/>
            <result column="name" property="name"/>
            <result column="token" property="token"/>
            <result column="u.gmt_create" property="gmtCreate"/>
            <result column="u.gmt_modified" property="gmtModified"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>
    <select id="selectList" resultMap="QuestionResultMap">
        select q.*,u.*
        from question q
        join user u
        on q.creator=u.account_id
    </select>

    <select id="selectListByAccountId" parameterType="Long" resultMap="QuestionResultMap">
        select q.*,u.*
        from  user u
        join question q
        on q.creator=u.account_id
        where u.account_id=#{accountId}
    </select>

    <select id="selectByQuestionId" parameterType="Integer" resultMap="QuestionResultMap">
        select q.*,u.*
        from  user u
        join question q
        on q.creator=u.account_id
        where q.id=#{id}
    </select>


</mapper>